services:
  keycloak_db:
    image: postgres:15
    volumes:
      - ./postgres_data:/var/lib/postgresql/data # <--- THIS SAVES YOUR DATA ON YOUR PC
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    networks:
      - pula_network

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak_db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    depends_on:
      - keycloak_db
    networks:
      - pula_network

networks:
  pula_network:
    driver: bridge